<ion-header [translucent]="true">
  <ion-toolbar >
    <div class="bg-color">
      <p>App App</p>
    </div>
  </ion-toolbar>
  
</ion-header>

<ion-content [fullscreen]="true">
 <ion-item>
  <ion-grid [fixed]="true">
    <ion-row>
      <ion-col>
        <img src="assets/Iphone.jpg" alt="">
      </ion-col>
      <ion-col>Iphone 13 mini <br>
        ราคา 21,000 บาท</ion-col>
      <ion-col>

        <ion-button size="large" color="danger">
          <ion-icon name="trash"></ion-icon>
      </ion-button>

    </ion-col>
    </ion-row>
  </ion-grid>
 </ion-item>
</ion-content>
